.popover {
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  color: #1e1e1e;
  position: relative;
}

.popover__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.popover__image {
  object-fit: contain;
  width: 15rem;
}

.popover__price span {
  font-weight: 900;
}
.popover__rating {
  margin-top: 0.2rem;
  color: #1e1e1e69;
}

.popover__close {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 2rem;
}

.popover__actions {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
}

.popover__actions--cart {
  border: none;
  border-radius: 1rem;
  background-color: #4b5056;
  padding: 1rem;
  font-weight: 700;
  transition: all ease 200ms;
  color: #fff;
}
.popover__actions--cart:hover {
  background-color: #1a1c1e;
}